@font-face {
    font-family: 'CircularSp-Bold';
    src: url(/assets/fonts/CircularSp-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'CircularSp-Light';
    src: url(/assets/fonts/CircularSp-Light.otf) format('opentype');
}

@font-face {
    font-family: 'CircularSp-Medium';
    src: url(/assets/fonts/CircularSp-Medium.otf) format('opentype');
}