/* Utility Classes */
.flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* WebKit Browsers (Chrome, Safari) */
/* Width and height */
::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; /* Color of the handle */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; /* Color of the handle on hover */
  }
  