/* Utility Classes */
.flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.border{
    border: 1px solid white;
    margin: 3px;
}
